 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
  body {
    background-color: #354541;
    overflow-x: hidden;
    max-width: 100%;
    font-family: serif;
  }
    
svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

path{
  fill: none;
  stroke-width: 50;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.image-split-container {
    width: 100vw; 
    height: 200vh; 
    position: relative;
    overflow: hidden; 
    z-index: 2;
}
a:hover{
  color: #81cdba;
}
.opening{
  align-content: center;
  justify-content: center;
  position: absolute;
}

.image-half {
  width: 48%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: antiquewhite;
  background-size: cover; 
  transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Smooth transition */
}

.left-half {
  left: 0;
  background-position: left center; /* Display left half of the image */
}

.right-half {
  right: 0;
  background-position: right center; /* Display right half of the image */
}

/* CSS classes for the "vanish" state */
.left-half.vanish {
  transform: translateX(-100%); /* Move left half off-screen to the left */
  opacity: 0;
}

.right-half.vanish {
  transform: translateX(100%); /* Move right half off-screen to the right */
  opacity: 0;
}

nav{
  position: sticky;
  padding: 1em;
  top:0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 200;
  color: antiquewhite;
}

a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
}

.off-screen-menu{
    background-color: #333;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    font-size: 30px;
    transition: 0.3s ease;
    padding: 20px;
    opacity: 80%;
}
.off-screen-menu.active{
    align-content: right;
    top: 0;
    right:0;
    z-index: 100;
}
/*ham menu icon*/
.ham-menu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    padding: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#da671a;
    z-index: 200;
}

.ham-menu span{
    width: 100%;
    height: 6px;
    background-color:antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1){
    top:25%;

}
.ham-menu span:nth-child(2){
    top:75%;
}

.ham-menu.active span:nth-child(1){
    top:50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.ham-menu.active span:nth-child(2){
    opacity: 0;
}
.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


section.section{
  width: 400vw;
}

    /* Essential: Container for horizontal scroll sections */
    .horizontalScroll {
      height: 100vh;
      width: 400%;
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      overflow-y: hidden;
      overflow: hidden;
    }
     .pin-spacer {width: 0 !important}
    
    /* Presentation styles */
    .section {
      height: 100vh;
      width: 300vw;
      display: flex;
      justify-content: left;
      align-items: left;
      position: relative;
      background-size: cover;
      background-position: center;
      color:antiquewhite;
      overflow-x: hidden;
    }
    
   
    
    
    .section__content {
      padding: 2rem;
      position: relative;
      z-index: 2;
      max-width: 600px;
      margin-left: 50vw;
    }
    
    /* Optional: Typography styles */
    h2 {
      font-size: 95vh;
     margin: 0;
      font-family:serif;
    }

    h3{
      font-size: 20vh;
    }
    
    p {
      font-size: 1.5rem;
      line-height: 1.6;
      font-family: Arial, sans-serif;
      justify-content: center;
      align-content: center;
    }
    

.verticalscroll{
  height: 220vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: -100vh;
  z-index: 3;
  
  border: #999;
}

.first{
  margin-top: -300vh;
}

.info{
  height: 100vh;
  width: 100vw;
  padding: 2rem;
}

.page-header {
    padding: 20px;
}

.content-container {
    display: flex; /* Enable Flexbox for the content elements */
    flex-grow: 1; /* Allow content-container to take up remaining space */
    width: 100%;
    position: static;
}

.element-one,
.element-two {
    flex: 1; /* Each element takes an equal share of the available space */
    padding: 2rem;
}

.element-one{
  margin-left: 4rem;
}
.element-two{
  margin-right: 10px;
  height: 30vh;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contentv{
  height: 100vh;
  width: 100vw;
}

.grid-container {
  display: grid; /* Enables CSS Grid layout */
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  grid-template-rows: repeat(3, 1fr); /* Creates 3 equal-height rows */
  gap: 10px; /* Adds space between grid items */
  width: 100vw; 
  height: 100vh; 
  padding: 20px;
  
}

.grid-item {
  background-image: url(https://images.unsplash.com/photo-1518737743670-3f217c4def4a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1160);
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  gap: 10px;
  overflow: hidden;
  border: #a95016 solid 3px;
}

.one{
  background-image: url(https://images.unsplash.com/photo-1595967444215-4901e8436909?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1333);
  background-size: cover;
}

.two{
  background-image: url(https://images.unsplash.com/photo-1714674713087-632530490e1b?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2VudGlwZWRlfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=700);
  background-size: cover;
}

.three{
  background-image: url(https://images.unsplash.com/photo-1722323412900-355374dbb164?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1931);
  background-size: cover;
}
.four{
  background-image: url(https://images.unsplash.com/photo-1598356918644-7a5af992f40c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=748);
  background-size: cover;
}
.five{
  background-image: url(https://images.unsplash.com/photo-1518737743670-3f217c4def4a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1160);
  background-size: cover;
}



button{
    width: 20vw;
    height: 10vh;
    margin-top: 15%;
    margin-left: 19%;
    font-family: serif;
    font-size: 1em;
    align-content: left;
    border-radius: 50px;
    background-color: #81cdba;
    border: none;
    z-index: 5;
    color: #da671a;
}

button:hover{
    background-color: #da671a;
    transition: ease-in-out 0.5s;
    color: antiquewhite;
    align-content: left;
    border-radius: 15px;
    font-size: 1.2em;
}

button .fa-circle-right, button .fa-circle-left {
    color:cadetblue;
    margin-left: 0.5em;

}

.hidden{
    background-image: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #354541;
    border: none;
}

.carouselcontainer{
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}

.card{
  flex: 0 0 auto;
  width: 33.3vw;
  height: 300px;
  background-color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  scroll-snap-align: center;
}

.carouseltrack{
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite;
}

.carouseltrackb{
  display: flex;
  width: max-content;
  animation: scroll 55s linear infinite;
}

.carouseltrackc{
  display: flex;
  width: max-content;
  animation: scroll 67s linear infinite;
}
/*cr section*/
.journal-container {
  width: 100%;
  overflow: hidden; /* Hides the overflowing slides */
  cursor: grab; /* Indicates draggability */
  z-index: 200;
}

.journal-slides {
  display: flex; /* Arranges slides horizontally */
  width: fit-content; /* Adjusts width to contain all slides */
}

.slide {
  flex-shrink: 0; /* Prevents slides from shrinking */
  width: 300px; /* Example width, adjust as needed */
  height: 70vh; /* Example height, adjust as needed */
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 10px;
  font-size: 2em;
  z-index: 300;
}


@keyframes scroll{
  0%{
    transform: translateX(0)
  }
  100%{
    transform: translate(-50%);
  }
}